/******************************Layout**********************************/
body {
    background-color: rgb(174, 198, 209);
    font-family: Arial, Helvetica, sans-serif;
  
   
}

h1 {
    font-size: 50px;
    color: rgb(172, 44, 44);
    display:inline-block;
    width: 100%; 
    text-align: center; 
    margin: 10px 0 20px; 
    border-bottom: 8px solid black;
    
}

.container {
    font-size: 30px;
     display: flex;
     justify-content: space-evenly;
     height: 60px;
     background-color: rgb(114, 188, 219);
     border-style:outset;
    }

h2 {
    color: black;
    font-size: 50px;
    text-align:center;
    background-color:rgba(107, 91, 88, 0.384);
    border-style:ridge;
    border-width: 6px;
  

}

.bil ul {
    color: rgb(80, 20, 220);
    font-size: 30px;
    text-align:center;
    list-style-type:none;
    
       
}

.ilk {
    font-size: 30px;
    color: darkred;
    text-align:center;
    border-style: groove;
    
 
    
}
img{
    max-width: 30%;
}

.urun {
    color: blue;
    text-align:center;
    list-style-type:none;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    
    
    
}

.end {
    text-align:center;
}

.ayem {
    font-size: large;
    font-size: 30px;
    color: darkred;
    text-align:center;
    border-style: groove;

}

h4 {
    font-size: 20px;
    color: rgb(97, 0, 253);
}

.viz {
    font-size: 18px;
    color: rgb(48, 47, 47);
}